
/* BODY */
body{
    width: 90vw;
    height: 90vh;
}
/* HEADER  */
header{
    width: 100%;
    height: 80px;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 70px 10px 10px 10px;
}
#image1{
    width: 15%;
    padding: 3px;
}

nav a{
    margin: 8px;
    color: black;
    text-decoration: none;
}
/* MAIN */
main{
    width: 100%;
    margin: 2% auto 2% 2%;

}
/* SECTION ONE */
.sectionone{
    text-align: center;
}
.sectionone h1{
    font-family: 'Brush Script MT', cursive;
    color: black;
}
.sectionone p{
    color: black;
}

.sectiontwo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    gap: 80px; 
    padding: 20px;
    max-width: 100%; 

} 
#products {
    text-align: center;
    width: calc(20% - 20px); 
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.image-container {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.original-image, .hover-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 0.5s ease;
}

.hover-image {
    transform: translateY(100%);
}

.image-container:hover .hover-image {
    transform: translateY(0);
}

.image-container:hover .original-image {
    transform: translateY(-100%);
}

.price-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    margin-top: 10px; 
}

.price-container p {
    margin: 0;
}

.add-to-cart {
    background-color: #60c2ec; 
    color: white; 
    border: none;
    border-radius: 4px; 
    padding: 5px 10px; 
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #cc5200; 
}

@media screen and (min-width:200px)and (max-width:581px) {
    body{
        width: 90vw;
    }
    header{
        width: 100%;
        height: auto;
    }
    main{
        width: 100%;
        height: auto;
    }
}
@media screen and (min-width:426px)and (max-width:768px) {
    body{
        width: 90vw;
    }
    header{
        width: 100%;
        height: auto;
    }
    main{
        width: 100%;
        height: auto;
    }
}
@media screen and (min-width:769px)and (max-width:1024px) {
    body{
        width: 90vw;
    }
    header{
        width: 100%;
        height: auto;
    }
    main{
        width: 100%;
        height: auto;
    }

}
@media screen and (min-width:1025px)and (max-width:1440px) {
    body{
        width: 90vw;
    }
    header{
        width: 100%;
        height: auto;
    }
    main{
        width: 100%;
        height: auto;
    }

}
@media screen and (min-width:1441px)and (max-width:2560px) {
    body{
        width: 90vw;
    }
    header{
        width: 100%;
        height: auto;
    }
    main{
        width: 100%;
        height: auto;
    }

}